.ActiveGame {
  text-align : center;
}

.ActiveGame-over {
  display : block;
}

.ActiveGame-link {
  color : #61dafb;
}

.ActiveGame-game{
  position   : fixed;
  overflow-y : auto;
  top        : 50px;
  height     : 100%;
  width      : 90%;
}

.ActiveGame-newLine{
  clear : both;
}

#ActiveGame-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  text-align      : center;
  margin-left     : 24px;
  margin-right    : 24px;
}

#ActiveGame-container-nameUser {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : space-between;
  color           : #202020;
}

.ActiveGame-container-nameUser1 {
  text-align : left;
}

.ActiveGame-container-nameUser2 {
  text-align : right;
}

.ActiveGame-container-activeUser {
  border-bottom : 1px solid #202020;
}

#ActiveGame-fields-container {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  user-select     : none;
}

.ActiveGame-field {
  background-repeat   : no-repeat;
  background-size     : auto;
  background-position : center;
  border              : 2px solid #FF9900;
  width               : 120px;
  height              : 120px;
}

.ActiveGame-field-view {
  background-repeat   : no-repeat;
  background-size     : auto;
  background-position : center;
  border              : 2px solid #808080;
  width               : 120px;
  height              : 120px;
}

.ActiveGame-zero-field {
  background-image : url("../pict/zero.jpg");
}

.ActiveGame-zero-view-field {
  background-image : url("../pict/zero_view.jpg");
}

.ActiveGame-cross-field {
  background-image : url("../pict/cross.jpg");
}

.ActiveGame-container-timer {
  color      : #202020;
  font-size  : 20px;
  text-align : center;
  margin-top : 20px;
}

.ActiveGame-button {
  width         : 140px;
  height        : 30px;
  margin-top    : 20px;
  background    : #008080;
  border-radius : 1px;
  border        : 2px solid #008090;
  box-shadow    : 0 2px 2px 0px #606060;
  color         : white;
  font-size     : 14px;
  text-align    : center;
  padding-left  : 30px;
  padding-right : 30px;
}

.ActiveGame-viewMode {
  color               : #808080;
  border-bottom-color : #808080;
}
