.AppActiveGame {
  text-align  : center;
}

.AppActiveGame-over {
  display : block;
}

.AppActiveGame-header {
  background-color : #282c34;
  box-shadow       : 0 4px 2px 0px #D0D0D0;
  display          : flex;
  flex-direction   : column;
  align-items      : left;
  justify-content  : center;
  font-size        : calc(10px + 2vmin);
  text-align       : left;
  left             : 10px;
  padding          : 10px;
  padding-left     : 24px;
  color            : white;
}

.AppActiveGame-link {
  color : #61dafb;
}

#AppActiveGame-container {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  text-align      : center;
  margin-left     : 24px;
  margin-right    : 24px;
}

#AppActiveGame-container-nameUser {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : space-between;
  color           : #202020;
}

.AppActiveGame-container-nameUser1 {
  text-align : left;
}

.AppActiveGame-container-nameUser2 {
  text-align : right;
}

.AppActiveGame-container-activeUser {
  border-bottom : 1px solid #202020;
}

#AppActiveGame-fields-container {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  user-select     : none;
}

.AppActiveGame-field {
  border : 2px solid #FF9900;
  width  : 120px;
  height : 120px;
}

.AppActiveGame-zero-field {
  background-image    : url("./zero.jpg");
  background-repeat   : no-repeat;
  background-size     : auto;
  background-position : center;
  border              : 2px solid #FF9900;
  width               : 120px;
  height              : 120px;
}

.AppActiveGame-cross-field {
  background-image    : url("./cross.jpg");
  background-repeat   : no-repeat;
  background-size     : auto;
  background-position : center;
  border              : 2px solid #FF9900;
  width               : 120px;
  height              : 120px;
}

#AppActiveGame-container-timer {
  color      : #202020;
  font-size  : 20px;
  text-align : center;
  margin-top : 20px;
}

.AppActiveGame-button {
  width         : 140px;
  height        : 30px;
  margin-top    : 20px;
  background    : #008080;
  border-radius : 1px;
  border        : 2px solid #008090;
  box-shadow    : 0 2px 2px 0px #606060;
  color         : white;
  font-size     : 14px;
  text-align    : center;
  padding-left  : 30px;
  padding-right : 30px;
}
