body, h2 {
  margin : 0;
}

.Main {
  text-align : center;
}

.Main-link {
  color : #61dafb;
}

.Main-listGames{
  position   : fixed;
  overflow-y : auto;
  top        : 100px;
  height     : 70%;
}

#Main-container {
  display         : flex;
  flex-direction  : column;
  justify-content : left;
  text-align      : left;
  margin-left     : 14px;
  margin-right    : 14px;
}

#Main-games-container {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : left;
  text-align      : left;
}

.Main-div-input_text {
  position : fixed;
  top      : 50px;
}

.Main-input_text {
  font          : 16px Arial;
  flex          : 0 1 auto;
  padding       : 10px;
  margin        : 10px;
  width         : 500px;
  border        : 0px;
  border-bottom : 1px solid #202020;
}

.Create-game {
  background-color : #606060;
  font-size        : 18px;
  color            : white;
  width            : 200px;
  height           : 200px;
  margin           : 10px;
  padding          : 14px;
}

.Start-game {
  background-color : #C0C0C0;
  font-size        : 18px;
  color            : white;
  width            : 200px;
  height           : 200px;
  margin           : 10px;
  padding          : 14px;
}

.Play-game {
  background-color : #C0C0C0;
  font-size        : 18px;
  color            : white;
  width            : 200px;
  height           : 200px;
  margin           : 10px;
  padding          : 14px;
}

.Over-game {
  background-color : #E0E0E0;
  font-size        : 18px;
  color            : #101010;
  width            : 200px;
  height           : 200px;
  margin           : 10px;
  padding          : 14px;
}

#Main-user1 {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : space-between;
  width           : 200px;
  height          : 80px;
  border-bottom   : 1px solid #202020;
  top: 0px;
}

#Main-user2 {
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : space-between;
  width           : 200px;
  height          : 80px;
}

.Main-container-winnerUser {
  color : red;
  top   : 0px;
}

#Main-timer-game {
  position      : inherit;
  bottom        : 0px;
  right         : 0px;
  color         : #101010;
  text-align    : right;
  padding-right : 5px;
}

.Main-div-button {
  position : fixed;
  bottom   : 24px;
  right    : 24px;
}

.Main-button {
  background    : #008080;
  border-radius : 50px;
  box-shadow    : 0 8px 4px 0px #B0B0B0;
  width         : 50px;
  height        : 50px;
  border        : 0px;
  line-height   : 50px;
  right         : 0px;
  margin-bottom : 10px;
  font-size     : 24px;
  color         : white;
}
